<body>
  <div class="invoice-name"><strong>Invoice</strong></div>

  <div class="invoice">
    <div class="header">
      <div class="company-info">
        <p class="text-xl font-bold">
          CHERISH IT SOLUTIONS (OPC) PRIVATE LIMITED
        </p>
        <p>
          Flat No 1610,Block No:-1, Sukhii 9,Besides Surya Global School ,
          Kaushalya
        </p>
        <p>Colony, Bachupally, Hyderabad,Telangana - 500090, India.</p>
        <p>PAN Number : <b>AAJCC7935L U</b></p>
        <p>Corporate Identification Number : <b>72900TG2021OPC155340</b></p>
      </div>
    </div>
    <div class="horizontal-line"></div>

    <div class="details">
      <div class="column">
        <p><strong>Invoice Number: </strong>{{ invoiceNumber }}</p>
        <p><strong>Date:</strong> {{ invoiceDate | date : "mediumDate" }}</p>
        <p><strong>Billed To: </strong></p>
        <p class="font-bold text-md">CHERISH TECHNOLOGIES INC</p>
        <p class="w-3/4">
          39180 Liberty St, Suite 205, Fremont, CA 94538 U.S.A
        </p>
        <p>TAX ID : {{ taxId }}</p>
      </div>
      <div class="column">
        <p><strong>Nature of Supply:</strong> {{ natureOfSupply }}</p>
        <p><strong>Mode of Supply: </strong>{{ modeOfSupply }}</p>
        <p><strong>Nature of Invoice: </strong>{{ natureOfInvoice }}</p>
        <p><strong>IGST Levy:</strong> {{ igstLevy }}</p>
        <p>
          <strong>Undertaking Application Reference No:</strong>
          {{ undertakingRefNo }}
        </p>
      </div>
    </div>

    <!-- Services Table Section -->
    <div class="services">
      <table>
        <thead>
          <tr>
            <th>SI No.</th>
            <th>Description of Goods</th>
            <th>HSN/SAC</th>
            <th>Currency & Exchange Rate Details</th>
            <th>Amount (In Rs.)</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let service of services; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ service.description }}</td>
            <td>{{ service.hsnCode }}</td>
            <td>
              ${{ service.currencyExchange }} &#64; Exchange Rate of
              {{ service.rate }}/USD
            </td>
            <td>
              {{ service.currencyExchange * service.rate | number : "1.2-2" }}
            </td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: right">Total</td>
            <td>{{ getTotalAmount() | number : "1.2-2" }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="amount-in-words">
      <p>
        Amount in Words:<strong>
          {{ convertToWords(getTotalAmount()) }} only</strong
        >
      </p>
    </div>

    <!-- Tax Details Section -->
    <div class="tax-details">
      <table>
        <thead>
          <tr style="border-bottom: 1px solid white">
            <th rowspan="2">HSN/SAC</th>
            <th rowspan="2">Taxable Value</th>
            <th colspan="2">Integrated Tax</th>
            <th rowspan="2">Total Tax Amount</th>
          </tr>
          <tr>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of services; let i = index">
            <td>{{ service.hsnCode }}</td>
            <td>{{ taxableValue }}</td>
            <td>{{ taxRate }}</td>
            <td>{{ taxAmount }}</td>
            <td>{{ totalTaxAmount }}</td>
          </tr>
          <tr>
            <td colspan="4">Total</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tax-amount-in-words">
      <p>
        Tax Amount (in Words) &nbsp;:<strong> {{ taxAmountInWords }}</strong>
      </p>
    </div>

    <div class="declaration">
      <p><strong>Declaration:</strong></p>
      <p>
        We declare that this invoice shows the actual price of the goods
        described and that all particulars are true and correct.
      </p>
    </div>

    <hr />
    <div class="bank-signature">
      <div class="bank-details">
        <p class="font-bold">OUR BANK DETAILS:</p>
        <p class="font-bold">CHERISH IT SOLUTIONS (OPC) PRIVATE LIMITED</p>
        <p>
          Account No &nbsp;:<strong>{{ accountNo }}</strong>
        </p>
        <p>
          Bank Name &nbsp;:<strong>{{ bankName }}</strong>
        </p>
        <p>
          Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :<strong>{{
            branch
          }}</strong>
        </p>
        <p>
          IFSC Code &nbsp;&nbsp;:<strong>{{ ifscCode }}</strong>
        </p>
        <p>
          SWIFT code :<strong>{{ swiftCode }}</strong>
        </p>
      </div>
      <div class="signature">
        <p class="text-xs font-bold">
          for CHERISH IT SOLUTIONS (OPC) PRIVATE LIMITED
        </p>
        <img src=" " />
        <p style="text-align: center">
          <strong>Authorised Signatory</strong>
        </p>
      </div>
    </div>
  </div>
</body>
